html {
  background: radial-gradient(46.41% 73.99% at 46.63% 48.05%, #20135c 0%, #140739 92.82%) repeat;
  /* box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25); */
}

.app-header {
  /* background: radial-gradient(46.41% 73.99% at 46.63% 48.05%, #20135c 0%, #140739 92.82%); */
  /* box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25); */
  color: white;
  display: flex;
  flex-flow: row nowrap;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-grow: 1;
}

.hasNoNav {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-grow: 1;
}
